@model DBL.Enitites.Products
@{ 
    var productcategory = ViewData["productcategorylists"] as List<SelectListItem>;
    var productattribute = ViewData["attributeslists"] as List<SelectListItem>;
}

<div class="modal-header">
    <h5 class="text-sm modal-title font-weight-light" id="producdatamodalLabel">Products data</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="text-sm font-weight-light" asp-for="Productname"></label>
               <input  class="form-control form-control-sm" asp-for="Productname" id="productnameid" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="text-sm font-weight-light"></label>
                <select class="form-control form-control-sm" id="prodcategory" onchange="loadproductsubcategory()" asp-items="@productcategory">
                    <option value="0">---Select Category---</option>
                </select>
                <span></span>
            </div>
        </div>
        <div class="col-sm-6" id="productsubcategoryrowid" style="display:none">
            <div class="form-group">
                <label class="text-sm font-weight-light"></label>
                <select class="form-control form-control-sm" id="prodsubcategoryId">
                    <option value="0">---Select Subcategory---</option>
                </select>
                <span></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Has Attributes ?
            <select class="form-control form-control-sm" id="hasattributeid" onchange="loadifhasattribute()">
                <option value="0">---Choose here---</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
            </select>
        </div>
    </div>
    <div class="row" id="Attributesrowid" style="display:none;">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="text-sm font-weight-light"></label>
                <select class="form-control form-control-sm" id="prodattribute" onchange="loadproductattribute()" asp-items="@productattribute">
                    <option value="0">---Select Attribute---</option>
                </select>
                <span></span>
            </div>
        </div>
        <div class="col-sm-6" id="prodattributevaluesrowid" style="display:none">
            <div class="form-group">
                <label class="text-sm font-weight-light"></label>
                <select class="form-control form-control-sm select2"  multiple="multiple" id="prodattributevaluesid">
                    <option value="0">---Select Attributevalues---</option>
                </select>
                <span></span>
            </div>
        </div>
    </div>
    <div class="row" id="productcolorrowid" style="display:none;">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="text-sm font-weight-light"></label>
                <select class="form-control form-control-sm select2"  multiple="multiple" id="prodcolorId">
                    <option value="0">---Select Color---</option>
                </select>
                <span></span>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <input type="submit" onclick="addproducts()" class="btn btn-sm btn-info" value="Next">
</div>

@*<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
    <input type="submit" onclick="addproducts()" class="btn btn-sm btn-info" value="Save">
</div>*@