@model DBL.Enitites.Productinstockandprices
<div class="modal-header">
    <h5 class="text-sm modal-title font-weight-light text-capitalize" id="allpoliciesModalLabel">@Model.Variationname Details</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <input asp-for="Productvarcode" class="form-control form-control-sm" hidden id="attributenameid" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="text-sm font-weight-light" asp-for="Productstock"></label>
                <input asp-for="Productstock" class="form-control form-control-sm" id="attributenameid" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="text-sm font-weight-light" asp-for="Productprice"></label>
                <input asp-for="Productprice" class="form-control form-control-sm" id="attributenameid" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="text-sm font-weight-light" asp-for="Productdprice"></label>
                <input asp-for="Productdprice" class="form-control form-control-sm" id="attributenameid" />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
    <input type="submit" onclick="addproductattribute()" class="btn btn-sm btn-info" value="Save">
</div>