<div class="modal-header">
    <h5 class="text-sm modal-title" id="allpoliciesModalLabel">Product Category</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form asp-action="Postnewagreementaccount" asp-controller="Agreements" method="post">
    <div class="modal-body">
        <div class="row">
            
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-sm btn-info" value="Save">
    </div>
</form>