@model IEnumerable<DBL.Model.Viewproductcategory>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-7">
                <h5 class="font-weight-light text-sm">Product Subcategory</h5>
            </div>
            <div class="col-sm-5">
                <a asp-action="Addproductsubcategory" asp-controller="Productcategory" asp-route-Categorycode="@Model.FirstOrDefault().Categorycode" class="btn btn-xs btn-info float-right" data-target="#productcategorymodal" data-toggle="modal">Add Subcategory</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped compact nowrap text-nowrap flex-nowrap table-sm font-weight-light" id="productcategorytable">
            <thead>
                <tr>
                    <th class="font-weight-light">Category Name</th>
                    <th class="float-right font-weight-light">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="font-weight-light">@item.Categoryname</td>
                        <td> <a href="#" class="btn btn-xs btn-danger float-right">Delete</a><a href="#" class="btn btn-xs btn-info float-right ml-1 mr-1">Edit</a><a href="#" class="btn btn-xs btn-info float-right" onclick="productcategorydetails('@item.Categorycode')">Details</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>