
@{
    ViewData["Title"] = "Productcategorylist";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-7">
                        <h5 class="font-weight-light text-sm">Product Category</h5>
                    </div>
                    <div class="col-sm-5">
                        <a asp-action="Addproductcategory" asp-controller="Productcategory" class="btn btn-sm btn-info float-right" data-target="#productcategorymodal" data-toggle="modal">Add Category</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr></tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mt-5" id="productcategorymodal" tabindex="-1" role="dialog" aria-labelledby="productcategorymodalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
@section Scripts{ 
    <script src="~/js/productcategory.js"></script>
}
